# Node
node_modules/
dist/
.next/
.turbo/
*.log
.env
.env.local
.env.*.local

# Flutter / Dart
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/build/
mobile/.pub-cache/
mobile/.pub/
mobile/android/local.properties
mobile/android/.gradle/
mobile/ios/Pods/
mobile/ios/.symlinks/
mobile/*.iml
mobile/android/app/google-services.json
mobile/ios/Runner/GoogleService-Info.plist

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.suo
*.user

# Prisma
api/prisma/migrations/*.sql
